.Divinfo{
    background-color:hsla(120,20%,50%,.5);
}
.Divinfo .titleInfo{
    color:hsla(240,80%,50%,.8);
    font-size: 2rem;
    font-style: italic;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 1px 1px 3px rgb(238, 36, 36),3px 3px 3px rgb(235, 238, 36) , 5px 5px 3px rgb(36, 214, 238);
}
.Divinfo .info{
    width:200px;
    font-size: 1.5rem;
    background-color: hsla(30, 40%, 50%, .5);
    /*Text-Wrap => الطبيعي انه السطر يكون ع قد عرض الاب بتاعه وينزل يكمل تحت wrap مش بتخليه ينزل تحت بيكمل ع نفس السطر وبيخرج من عرض الاب بتاعه*/
    text-wrap:nowrap;
    color:#6286d3;
}